{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-return-await": 0,
    "no-eval": 0,
    "no-unused-vars": 0,
    "array-callback-return": 0
  },
  "parser": "babel-eslint"
}
