{
  "extends": ["airbnb", "airbnb/hooks"],

  "settings": {
    "import/core-modules": [ "react-native-paper" ]
  },

  "rules": {
    "react/prop-types": "off",
    "react/style-prop-object": "off",
    "react/jsx-no-comment-textnodes": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
